<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Socket IO React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <!-- scripts -->
  </head>
  <body>
    <div class="container" style="width: 100%">
      <h1>Socket IO React</h1>
      <br>
      <div id="content" style="float:left; width:70%;"></div>
      <div id="sidebar" style="float:right; width:30%;"></div>
    </div>
    <!-- scripts -->
    <!-- <script src="{{ url_for('static', filename='scripts/js/socketchat.js') }}"></script> -->
    <script src="{{ url_for('static', filename='scripts/js/ChatBar.js') }}"></script>
  </body>
</html>
